---
import { Image } from "astro:assets";
import portrait from "../assets/temporal-portrait.webp"
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
				<section class="title">
					<Image
						class="portrait-image"
						src={portrait}
						alt="Portrait photograph of Juan Cruz Stakys, a professional headshot against a neutral background with warm, approachable lighting"
					/>
				<div>
					<h2>Juan Cruz Stakys</h2>
				</div>
			</section>
			<hr>
			<!-- <section class="about">
				<h3>Sobre mí</h3>
				<p>
					Soy un amante de las matemáticas y programador de oficio. Actualmente estudio Licenciatura en Ciencias Matemáticas en la Universidad de Buenos Aires (UBA) he trabajado como desarrollador RPA, Backend, Fullstack y Frontend.
				</p>
				<h3>Mi carrera</h3>
				<p>
					Después de terminar mis estudios secundarios como técnico en informática, y habiendo estudiado desarrollo web y Python en la Academia Online Platzi, conseguí mi primer trabajo como desarrollador RPA en la consultora <i>FyS Tech Group</i>. Ahí trabajé creando soluciones para una variedad de clientes importantes en Argentina con Automation Anywhere. Más adelante mi rol se centró más en crear plataformas web, tanto para uso interno como para clientes, donde usé el lenguaje Javascript y TypeScript con frameworks como React y Node.js.
				</p>
			</section> -->
        </main>
        <Footer />
    </body>
</html>

<style>
	section {
		margin: 2em 0;
	}
	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3em;
	}
	:global(.title .portrait-image) {
		width: 30vw;
		max-width: 200px;
	}
	:global(.title .portrait-image img) {
		width: 100%;
		height: auto;
	}
</style>
